@model IEnumerable<Roasts_and_Rants.Models.Review>

@{
	ViewBag.Title = "Reviews";
}

<h2>@ViewBag.Title</h2>

<div>
	<table class="table">
		<tr>
			<th>@Html.ActionLink("Restaurant", "Index", new { sortOrder = ViewBag.NameSortParam })</th>
			<th>User</th>
			<th>@Html.ActionLink("Rating", "Index", new { sortOrder = ViewBag.RatingSortParam })</th>
			<th>Comment</th>
		</tr>
		@foreach (var item in Model) {
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Restaurant.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UserName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Rating)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Content)
				</td>
				<td>
					@if (HttpContext.Current.User.Identity.Name == item.UserName) {
						@Html.ActionLink("Edit", "Edit", new { id = item.ReviewID })
						@: |
						@Html.ActionLink("Delete", "Delete", new { id = item.ReviewID, restaurantID = item.RestaurantID })
					}
				</td>
			</tr>
		}
	</table>
</div>
<p>
</p>
