@model Roasts_and_Rants.Models.Restaurant

@{
	ViewBag.Title = "Reviews";
}

<h2>Reviews for @Model.Name</h2>

<p>
	@Html.ActionLink("Add a review", "Review", "Create", new { id = Model.RestaurantID, username = HttpContext.Current.User.Identity.Name }, null)
</p>

<div>
	<table class="table">
		<tr>
			<th>User</th>
			<th>Rating</th>
			<th>Comment</th>
			<th>Last Modified Date</th>
		</tr>
		@foreach (var item in Model.Reviews) {
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.UserName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Rating)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Content)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ModifiedDate)
				</td>
				<td>
					@if (HttpContext.Current.User.Identity.Name == item.UserName) {
						@Html.ActionLink("Edit", "Edit", "Review", new { id = item.ReviewID }, null)
						@: |
						@Html.ActionLink("Delete", "Delete", "Review", new { id = item.ReviewID }, null)
					}
				</td>
			</tr>
		}
	</table>
</div>
<p>
	@Html.ActionLink("Back to Restaurants", "Index", "Restaurant")
</p>
