@model IEnumerable<Roasts_and_Rants.Models.Restaurant>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
	<p>
		Find by name, address, or phone @Html.TextBox("SearchString")
		<input type="submit" value="Search" />
	</p>
}

<p >
	@Html.ActionLink("Add a new restaurant", "Create")
</p>
<table class="table">
    <tr>
        <th>
			@Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParam })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalCode)
        </th>*@
		<th>
			@Html.DisplayName("Address")
		</th>
		<th>
			@Html.ActionLink("Average Rating", "Index", new { sortOrder = ViewBag.RatingSortParam })
		</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Street) <br />
			@Html.DisplayFor(modelItem => item.City), @Html.DisplayFor(modelItem => item.State), @Html.DisplayFor(modelItem => item.Country) @Html.DisplayFor(modelItem => item.PostalCode)
        </td>
		<td>
			@Html.DisplayFor(modelItem => item.AverageRating)
			(@item.Reviews.Count @{ViewBag.ReviewMessage = (item.Reviews.Count == 1 ? "review" : "reviews");} @ViewBag.ReviewMessage)
		</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RestaurantID }) |
            @Html.ActionLink("Reviews", "Details", new { id=item.RestaurantID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RestaurantID })
        </td>
    </tr>
}

</table>
