@model IEnumerable<Roasts_and_Rants.Models.Restaurant>

@{
    ViewBag.Title = "Restaurants";
}

<h2>@ViewBag.Title</h2>

<p>@Html.ActionLink("Add a new Restaurant", "Create")</p>

@using (Html.BeginForm()) {
		<p>
			Find by name, phone, or address: @Html.TextBox("SearchString")
			<input type="submit" value="Search" />
		</p>
}

<table class="table">
    <tr>
        <th>
			@Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParam })
        </th>
		<th>
			@Html.DisplayNameFor(model => model.Address)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Phone)
		</th>
		<th>
			@Html.ActionLink("Average Rating", "Index", new { sortOrder = ViewBag.RatingSortParam }) / 10.00
		</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
		<td>
			@Html.DisplayWithBreaksFor(modelItem => item.Address)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Phone)
		</td>
		<td>
			@{
				if (item.Reviews.Count > 0) {
					@Html.DisplayFor(modelItem => item.AverageRating);
				}
			}
			(@Html.DisplayFor(modelItem => item.Reviews.Count) reviews)
		</td>
        <td>
            @Html.ActionLink("Reviews", "Reviews", new { id = item.RestaurantID }) |
			@Html.ActionLink("Edit", "Edit", new { id = item.RestaurantID }) |
			@Html.ActionLink("Delete", "Delete", new { id = item.RestaurantID })
        </td>
    </tr>
}

</table>
